html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

#bodyss {
  background-color:#f2dede; 

}


#panel-quote {
  background-color: #fff;
  margin: 200px auto;
  box-shadow: 5px 5px 10px #f5f5f5;
  padding: 40px;
  border-style: none;
}


#panel-quote button {
  font-size: 14px;
  background-color: #f2dede;
}

.panel-default {
  max-width: 600px;
  border-radius: 10px;
}
#quote {
  color: #cc3b3b;
  font-size: 14px;
}


#author {
  color: #cc3b3b;
  font-size: 1.1em;
}


#footer {
  color: #fff;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.zz {
  color: #d87575;
}





